name: FB Auto Bot
on:
  workflow_dispatch: # Isse aap manually bot chala payenge
  schedule:
    - cron: '*/15 * * * *' # Har 15 minute mein apne aap chalega

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests
      - name: Run Script
        env:
          FB_TOKEN: ${{ secrets.FB_TOKEN }}
          FB_COOKIE: ${{ secrets.FB_COOKIE }}
        run: python main.py
